<script type="text/ng-template" id="partial.html">
    <div>{{error}}</div>
</script>

<div class="modal-header">
    <h2  class="modal-title" id="modal-title" style="margin-left: 20px; margin-right: 20px; text-align: center;">Error</h2>
</div>
<div class="modal-body modal-body-general-error" id="modal-body">
    <!--<div class="row">-->
        <div ng-include="'partial.html'"></div>
    <!--</div>-->
    <!--<div class="row">-->
        After dismissing this dialog, enter another city
    <!--</div>-->
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.cancel()">OK</button>
</div>
